{% extends "base.html" %}

{% block content %}

<main class="container" role="main">
    <div class="row h-100">
        <div class="col col-10 justify-contents-center mx-auto">
            <div class="container text-center p-5">
                <h1>Music Box</h1>
                <p class="lead">This is where you access your songs, add new ones and control other features.</p>
            </div>
        </div>
    </div>
</main>

<!-- <h1 class="title">Flask Login Example</h1>
<h2 class="subtitle">Authentication in Flask</h2> -->
{% endblock %}