{% extends "base.html" %}

{% block content %}
<h1 class="title">Welcome, {{ name }}</h1>
<div class="column is-4 is-offset-4">
    <h3 class="title">Register a new Box</h3>
    <div class="box">
        <form action="/register" method="POST">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <div class="field">
                <div class="control">
                    <input type="text" name="boxName" placeholder="Your Box Name" class="input is-large">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="text" name="boxToken" placeholder="Your Box Token" class="input is-large">
                </div>
            </div>
            <button class="button is-block is-info is-fullwidth">Submit</button>
        </form>
    </div>
    <h3 class="title">Current Boxes</h3>
    <div class="box">
        <ul>
            {% for box in boxes %}
            <li class="item">
                <a href="/box/{{ box.box_id }}">{{ box.box_name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
