{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.nav.css') }}" />
{% endblock head %}


{% block content %}
<div class="container-fluid align-items-center bg-light bg-gradient text-dark h-100">
    <h3 class="title text-center pt-4 pb-1">Your songs</h3>
    <div class="row row-cols-auto p-3">
        {% for song in songs %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 pb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ song.name }}</h5>
                    <h6 class="card_subtitle">{{ song.artist }}</h6>
                    <p class="card_text card-description">{{ song.description }}</p>
                    <!-- make this a bootstrap icon -->
                    <a href="{{ url_for('product.play_song', id=song.id) }}" class="btn btn-primary">Play</a>
                    <!-- <a href="#" class="card-link">Play</a> -->
                </div>
                <div class="card-footer"><small class="text-muted">Card Footer</small></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}