{% extends 'base.html' %}

{% block content %}

    <div class="bg-light bg-gradient h-100 text-dark">
        <div class="container align-items-center">
            <div class="row">
                <div class="col col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <div class="container-fluid">
                        <form action="/upload" method="POST" enctype="multipart/form-data" id="form">
                            <div class="mb-3"><label for="inputSongName" class="form-label text-left">Song name<input type="text", name="songName", class="form-control" id="inputSongName"></label></div>
                            <div class="mb-3"><label for="inputSongArtist" class="form-label text-left">Artist / Composer<input type="text", name="songArtist", class="form-control" id="inputSongArtist"></label></div>
                            <div class="mb-3"><label for="inputSongDescription" class="form-label text-left">Description<input type="text", name="songDescription", class="form-control" id="inputSongDescription"></label></div>
                            <div class="mb-3"><label for="inputSongFile" class="form-label">File:<input type="file", name="songFile", class="form-control-file pl-1" id="inputSongFile" value="File::"></label></div>
                        </form>
                        <button type="submit" class="btn btn-outline-dark" form="form">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}