{% extends 'base.html' %}

{% block content %}
<div class="bg-light h-100 text-dark">
    <div class="container align-items-center">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-12 mx-auto text-center form">
                <div class="bg-dark text-light container rounded pt-2 pb-2 mt-4">
                    <h3 class="title">Create Account</h3>
                    <div class="container">
                        <form action="/signup" method="POST" id="form">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3 form-group"><input placeholder="Email" type="email" name="email" id="signupEmail" class="form-control"></label></div>
                                </div>
                                <div class="col">
                                    <div class="mb-3 form-group"><input placeholder="Name" type="text" name="name" id="signupName" class="form-control"></label></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3 form-group"><input placeholder="Password" type="password" name="password" id="signupPassword" class="form-control"></label></div>
                                </div>
                                <div class="col">
                                    <div class="mb-3 form-group"><input placeholder="Token" type="text" name="token" id="signupToken" class="form-control"></label></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group mb-3"><button type="submit" class="btn btn-info btn-block" form="form">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}